body {
  margin 0;
  padding 0;
  font-family: arial;
  font-size: 18px;
}

h1 {
  text-align: center;
}

img.logo {
  float: left;
  padding: 20px;
}

li {
  padding: 5px 0 5px 0;
}

.box {
  border-style: solid;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.attention {
  background: #fbe5a3;
}

.important {
  background: #d26d6a;
}

.important p::before {
  font-family: monospace;
  content: 'IMPORTANT: ';
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}

.text-right {
  text-align: right;
}
