/* If this is updated, update the styling of the body in edudoc-header.html too */
body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 18px;
}

h1 {
  text-align: center;
}

h2 {
  text-decoration: underline black;
}

img {
  max-width: 800px;
}

img.logo {
  float: left;
  padding: 20px;
}

li {
  padding: 5px 0 5px 0;
}

/* The styling of table, tr, th and td should be the same as in style.css */
table {
  page-break-inside: avoid;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

th {
  font-weight: bold;
}

td, th {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid black;
}

.box {
  border-style: solid;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.attention {
  background: #fbe5a3;
}

.example {
  background: #b8fba2;
}

.important {
  background: #d26d6a;
}

.important p::before {
  font-family: monospace;
  content: 'IMPORTANT: ';
}

.warning {
  background: #ffc0c0;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.indent {
  text-indent: 3em;
}
