:root {
  font-size: 11pt;
  line-height: 1.1;
}

/* This is used by weasyprint */
@page {
  margin: 13mm 15mm;
  padding: 2mm 0 0;
  border-top: black solid 1px;

  @top-left {
    content: element(headerTitle);
  }

  @top-center {
    content: element(headerLogo);
  }

  @top-right {
    content: element(headerDate);
  }

  @bottom-center {
    content: counter(page);
  }
}

@media print {
  #header_title,
  #header_logo,
  #header_date {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header_title {
    position: running(headerTitle);
    padding-top: 18px;
    font-size: 90%;
  }

  #header_logo {
    position: running(headerLogo);
    height: 40px;
    width: 40px;
    margin-top: 4px;
  }

  #header_date {
    position: running(headerDate);
    padding-top: 18px;
  }
}

h1 {
  margin: 0.2rem initial 0.7rem;
  text-align: center;
}

li {
  margin: 0.6rem initial;
}

img.logo {
  float: left;
  padding: 20px;
}

.box {
  border-style: solid;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  padding: 0.2rem 0.5rem;
  border-width: 2px;
  page-break-inside: avoid;
}

.attention {
  background: #fbe5a3;
}

.example {
  background: #b8fba2;
}

.important {
  background: #d26d6a;
}

.warning {
  background: #ffc0c0;
}

table.table-with-images img {
  max-width: 120px;
}
