body {
    margin 0;
    padding 0;
    font-family: arial;
}

h1 {
    text-align: center;
}

img.logo {
    float: left;
    padding: 20px;
}

.important {
	background: #f00;
	border-style: solid;
	font-weight: bold;
	text-align: center;
}

.important p::before {
    font-family: monospace;
    content: 'IMPORTANT: ';
}
