a {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

/* Remove unnecessary spacing at the end that sometimes causes an empty page to be generated. */
body > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Make multiline tables look good (https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3356#issuecomment-288837439). */

table {
  page-break-inside: auto;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

.version {
  color: gray;
}

.page-break {
  page-break-before: always;
}

.text-center {
  display: block;
  text-align: center;
}

/* Fancy numeration of nested numeric lists. (Based on https://stackoverflow.com/a/26245056) */

ol[type="1"] {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0.5em;
}

ol[type="1"] > li {
  display: table;
  counter-increment: item;
  width: 100%;
}

ol[type="1"] > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.5em;
  width: 1px;
}

li ol[type="1"] > li:before {
  content: counters(item, ".") " ";
}

li + li {
  margin-top: 0.25em;
}