/* This is used by weasyprint */
@page {
  margin: 12mm 15mm;
}

:root {
  font-family: "Liberation Sans", sans-serif;
  font-size: 11.5pt;
  line-height: 1.15;
}

body {
  margin: 0;
  padding: 0;
}

/* Remove unnecessary spacing at the end that sometimes causes an empty page to be generated. */
body > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4rem initial 0.9rem;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 1.8rem; /* by default lists have too much left padding */
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

/* Make multiline tables look good (https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3356#issuecomment-288837439). */

table {
  width: 100%;
  margin: initial auto;
  border-collapse: collapse;
  font-size: 0.9em;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid black;
  vertical-align: top;
}

.scaled-table {
  transform: scale(0.9);
  transform-origin: top left;
  /* width: 120%; */
}

.bordered-image {
  display: block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid black;
}

.version {
  color: gray;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.indent {
  text-indent: 3em;
}

div.spacer {
  height: 100px;
}
