a {
  color: black;
}

body {
  padding: 20px;
  font-size: 14pt;
}

.version {
  color: gray;
}

.page-break {
  page-break-before: always;
}

.text-center {
  display: block;
  text-align: center;
}
