name: PR build test

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: bin/install_dependencies.sh

      - name: Run the PDF compilation process
        run: bin/build.sh

      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: build
